.body-1{
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 50px;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.body-1-header {
    font-size: 20px;
    font-weight: lighter;
    color:  rgb(112, 112, 112);
}
.body-2-text {
    font-size: 15px;
    color: rgb(100, 100, 100);
    padding-bottom: 15px;
}
.body-2 {
    display: flex;
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 10px;
}
.body-2-right {
    flex: 1;
    display: flex;
}
.body-2-right-1 {
    flex: 1;
}
.body-2-right-2 {
    flex: 1;
}
.body-2-right-1-text-1 {
    display: inline-block;
}
.body-2-right-1-text-1 {
    display: inline-block;
}
.body-2-left {
    flex: 2;
}