.body-1{
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 50px;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.body-1-header {
    font-size: 20px;
    font-weight: lighter;
    color:  rgb(112, 112, 112);
}
.body-1-text {
    font-size: 15px;
    color: rgb(100, 100, 100);
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: lighter;
}
.body-2 {
    display: flex;
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 10px;
}
.body-2-right {
    flex: 3;
    display: flex;
}
.body-2-right-1 {
    flex: 1;
    overflow: auto;
}
.body-2-thump {
    float: right;
}
.body-2-pic {
    display: block;
}
.body-2-right-2 {
    flex: 1;
}
.body-2-text {
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    padding-right: 5px;
    text-align: center;
    margin-left: 10px;
}
.body-2-pic {
    width: 50px;
    height: 50px;
}
.body-2-left {
    flex: 3;
    display: flex;
    border-right: 2px solid rgb(220, 220, 220);
    margin-bottom: 10px;
}
.body-2-left-text {
    /* margin-top: 5px; */
    flex: 2;
    font-size: 14px;
    font-weight: lighter;
    color: rgb(112, 112, 112);
    padding-right: 5px;
    /* text-align: center; */
    
}
.body-2-left-empty {
    flex: 1;
}
.body-3 {
    display: flex;
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 50px;
}
.body-3-right {
    flex: 2;
    padding-left: 5px;
}
.body-3-left {
    flex: 3;
}
.body-3-header {
    font-weight: lighter;
    font-size: 15px;
    color: rgb(112, 112, 112);
}
.body-3-text {
    font-size: 13px;
    color: rgb(100, 100, 100);
}
.body-3-right-down {
    margin-top: 50px;
}
.body-4 {
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 30px;
}
.body-4-text {
    background-color: rgb(178, 74, 74);
    padding: 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: justify;
    opacity: 0.8;
}
.body-5 {
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 40px;
}
.body-5-header {
    font-weight: lighter;
    font-size: 17px;
    color: rgb(112, 112, 112);
}
.body-5-text {
    font-size: 15px;
    color: rgb(100, 100, 100);
}
.body-5-frame {
    box-shadow: 0px 17px 40px rgb(180, 180, 180);
    border-radius: 5px;
    margin-bottom: 80px;
}
.body-5-line-1 {
    margin-top: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 5px;
    padding-top: 8px;
    padding-right: 20px;
}
.body-5-line-2 {
    display: flex;
    margin-top: 20px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.body-5-line-2-item {
    flex: 1;
    margin-right: 30px;
}
.body-5-textfield {
    background-color: rgb(240, 242, 247);
    border: 1px solid rgb(240, 242, 247);
    color: rgb(102, 102, 102);
    border-radius: 15px;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
}
.body-5-textfield:hover, .body-5-textfield:focus {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 85, 183);
}
.site-address {
    direction: ltr;
}
.first {
    margin-right: 0px;
}
.body-5-textfield:focus {
    outline-width: 0px;
}
.body-5-form-text {
    color: rgb(33, 89, 209);
    font-size: 10px;
    font-weight: bold;
}
.body-5-line-3 {
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.textfield-pm {
    color: rgb(102, 102, 102);
    background-color: rgb(240, 242, 247);
    border: 1px solid rgb(240, 242, 247);
    border-radius: 15px;
    width: 100%;
    height: 130px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}
.textfield-pm:focus, .textfield-pm:hover {
    outline-width: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 85, 183);
}
.body-5-btn {
    border: 1px solid rgb(33, 89, 209);
    color: rgb(33, 89, 209);
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 25px; 
    display: block;
    margin-right: auto;
}
.body-5-btn:hover {
    outline-width: 0px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255) ;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 89, 209);;
}
.body-5-line-4 {
    padding-left: 40px;
    padding-bottom: 20px;
}