.body-1{
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 50px;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.body-1-header {
    font-size: 20px;
    font-weight: lighter;
    color:  rgb(112, 112, 112);
}
.body-1-text {
    font-size: 15px;
    color: rgb(100, 100, 100);
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: lighter;
}
.body-2 {
    display: flex;
    margin-right: 240px;
    margin-left: 240px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.body-2-right {
    flex: 2;
}
.body-2-left {
    flex: 3;
}
.body-2-left img {
    margin-right: 30px;
    border-radius: 5px;
    width: 100%;
    display: block;
}
.body-2-header {
    font-weight: lighter;
    font-size: 17px;
    color: rgb(112, 112, 112);
    padding-bottom: 15px;
}
.body-2-text {
    font-size: 15px;
    color: rgb(100, 100, 100);
}
.body-2-right-down {
    margin-top: 50px;
}
.body-2-frame {
    box-shadow: 0px 17px 40px rgb(180, 180, 180);
    border-radius: 5px;
    margin-bottom: 80px;
}
.body-2-line-1 {
    margin-top: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 5px;
    padding-top: 8px;
    padding-right: 20px;
}
.body-2-line-2 {
    margin-top: 20px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.body-2-textfield {
    background-color: rgb(240, 242, 247);
    border: 1px solid rgb(240, 242, 247);
    border-radius: 15px;
    width: 100%;
    height: 35px;
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 11px;
}
.body-2-textfield:focus {
    outline-width: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 85, 183);
}
.body-2-select {
    background-color: rgb(240, 242, 247);
    border-radius: 15px;
    border: 1px solid rgb(240, 242, 247);
    width: 100%;
    height: 35px;
    padding-left: 5px;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 11px;
    color: rgb(110, 110, 110);
}
.body-2-select:focus {
    outline-width: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 85, 183);
}
.body-2-form-text {
    color: rgb(33, 89, 209);
    font-size: 10px;
    font-weight: bold;
}
.body-2-btn {
    color: rgb(200, 200, 200);
    background-color: rgb(33, 89, 209);
    width: 100%;
    height: 35px; 
    display: block;
    margin: auto;
    border: none;
}
.body-2-btn:hover {
    outline-width: 0px;
    background-color: rgb(30, 80, 200);
    cursor: pointer;
}
.body-2-line-3 {
    border-top: 1px solid rgb(220, 220, 220);
    padding-top: 5px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
}
.space {
    margin-top: 10px;
}