footer{
    background-color: rgb(239, 239, 239);
}
.footer-list {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%; 
    margin-right: 160px;
    margin-left: 160px;
}
.item1 {
    flex: 3;
    font-size: 15px;
    color: rgb(112, 112, 112);
    display: inline-block;
}
.item2 {
    flex: 1;
    font-size: 15px;
    color: rgb(112, 112, 112);
    display: inline-block;
}
.item3 {
    text-align: center;
    flex: 5;
    font-size: 15px;
    color: rgb(112, 112, 112);
    display: inline-block;
}
.item4 {
    flex: 4;
    color: rgb(112, 112, 112);
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.subitem {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-weight: lighter;
    padding-top: 2px;
}
.subitem:hover {
    color: rgb(33, 89, 209);
    font-weight: normal;
}
.footer-img-item {
    width: 35px;
    height: 35px;
    margin-top: 8px;
    padding-left: 5px;
}
.footer-img {
    display: flex;
    justify-content: center;
}
.footer-img .facebook{
    background: url("../pics/facebook.png") no-repeat;
    background-size: 35px;
}
.footer-img .facebook:hover{
    background: url("../pics/facebook-hover.png") no-repeat;
    background-size: 35px;
}
.footer-img .twitter{
    background: url("../pics/twitter.png") no-repeat;
    background-size: 35px;
}
.footer-img .twitter:hover{
    background: url("../pics/twitter-hover.png") no-repeat;
    background-size: 35px;
}
.footer-img .googleplus{
    background: url("../pics/google+.png") no-repeat;
    background-size: 35px;
}
.footer-img .googleplus:hover{
    background: url("../pics/google+-hover.png") no-repeat;
    background-size: 35px;
}
.item-head{
    font-weight: bold;
    padding-bottom: 3px;
}